/* login page CSS */

/* -------------------------
    Login
  -------------------------*/
  #login {
    max-width: 1000px;
    margin: 80px auto;
    padding: 0 20px;
}

/* Form styles */
#login fieldset {
    margin-bottom: 30px;
    border: none;
}
#login fieldset:nth-of-type(3) {
    margin-bottom: 10px;
}

#login label {
    display: block;
    margin-bottom: 5px;
}

#login input, #login textarea, #login button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #F7F7F7;
}

#login button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

#login button:hover {
    background-color: #C30A0A;
}

#login .error-message {
    display: none;
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

#login .mandatory {
    color: red;
}

#login .remenberme {
    display: flex;
    justify-content: left;
    align-items: center;
}
#login .remenberme input {
    width: inherit;
    margin-right: 10px;
}
#login .submit_button button {
    max-width: 400px;
    margin: 0 20px 20px 0;
}
#login .submit_button button:nth-of-type(2) {
    background-color: #fff;
    color: #000;
    outline: 2px solid #000;
    outline-offset: -2px;
    border-radius: 5px;
    transition: 0.3s;
}
#login .submit_button button:nth-of-type(2):hover {
    background-color: #C30A0A;
    color: #fff;
    outline: none;
}

#login button::before {
    opacity: 0;
}
#login .forgot {
    text-decoration: underline;
}

/* Password visibility toggle */
.password-field {
    position: relative;
    display: flex;
    align-items: center;
}

.password-field input {
    flex: 1;
    padding-right: 40px; /* Leave space for the toggle icon */
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-toggle-icon img {
    width: 20px;
    height: 20px;
    display: block;
}


/* -------------------------
    Forgot password
  -------------------------*/
.forgotpass > p {
    margin-bottom: 30px;
}

/* -------------------------
    Forgot password - email sent
  -------------------------*/
.emailsent {
    text-align: center;
}
.emailsent figure {
    display: inline-block;
}
.emailsent h3 {
    font-family: "Times New Roman", serif;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 10px;
}

/* -------------------------
    Create account
  -------------------------*/
#login .privacypolicy {
    display: flex;
    justify-content: left;
    align-items: center;
}
#login .privacypolicy input {
    width: inherit;
    margin-right: 10px;
}

/* Error message styles */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* Responsive design */
@media (max-width: 768px) {
    header {
        width: 100vw;
    }
    #login {
        margin: 40px 25px;
        padding: 0;
    }
    #login fieldset {
        margin-bottom: 20px;
    }

    .emailsent h3 {
        font-size: 24px;
    }
    .emailsent p {
        text-align: justify;
    }
}
